<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.epsilonnet.sewooprinter"

    version="0.01">

    <name>Sewoo Printer</name>
	<description>A Cordova/Phonegap driver for Sewoo Printers</description>
    <license>Apache</license>
    <engines>
        <engine name="cordova" version=">=7.1.0"/>
    <engine name="cordova-android" version=">=6.3.0"/>
    </engines>    

    <!-- android -->
    <platform name="android">
		<source-file src="src/android/SewooPrinter.java" target-dir="src/com/epsilonnet/sewooprinter"/>
		<js-module src="www/SewooPrinter.js" name="SewooPrinter">
			<clobbers target="window.sewooPrinter" />
		</js-module>
		
      <config-file target="AndroidManifest.xml" parent="/*">
         <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     </config-file>   

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SewooPrinter">
                <param name="android-package" value="com.epsilonnet.sewooprinter.SewooPrinter" />
            </feature>
        </config-file>
		<framework src="src/android/yourFile.gradle" custom="true" type="gradleReference"/>
		
	
    <resource-file src="src/android/Sewoo_Android_1108.jar" target="libs/Sewoo_Android_1108.jar" /> -->
	
    </platform>
	
	
	
</plugin>
